


body{
   
    
    background-image: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);

      background-size: cover;
      background-attachment: fixed;
    height: 100%;
   
}



.footer{
    position: fixed;
    height: 2rem;
    width: 100%;
    background-color: rgb(150, 168, 240);
    bottom: 0;
    left: 0;
    /* box-shadow: 5px 5px 5px rgba(0, 0,0,0.4); */

}
.footer-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.increase-likes{
    color: red;
}