
.about__section-image{
    border-radius: 50%;
    overflow: hidden;
    transform: skew(15deg);
    transition: var(--transition);
    &:hover{
        transform: skew(0);
    }
}

.about__section-image:nth-child(2){
    transform: skew(-15deg);
}

.about__section-content h1{
    margin-bottom: 2rem;
}
.about__section-content p{
    margin-bottom: 1rem ;
}
.about__story-container{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    align-items: center;
}
.about__story-container{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}